/////////////
// COLORS //
////////////
$gold-color: #FFDF00;

//////////
// BASE //
//////////

body {
  background-color: black;
}

header, h1, p {
  font-family: "Open Sans", "sans-serif";
  -webkit-font-smoothing: antialiased; // fix for thick fonts on Chrome
}

h1, header {
  color: $gold-color;
}

p {
  color: black;
  margin: 10px 10px 10px 10px;
}

h1 {
  font-weight: bold;
}

header {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 40px;
  font-weight: 200;
}

button:focus{
  outline: none !important; // remove blue outline
}

img, button {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
}