///////////////
// FRAMEWORK //
///////////////

/////////////
// COLORS //
////////////
// We have to include !important to override the defaults
// set for `a` elements (presumably by Bootstrap)
.gold {
  color: #FFDF00 !important;
}

.harriton-red {
  color: #E72239 !important;
}

.pickle-green {
  color: #3CD638 !important;
}

.carolina-blue {
  color: #7BAFD4 !important;
}

.haverford-red {
  color: #A20000 !important;
}

.black {
  color: #000 !important;
}

//////////
// BASE //
//////////

body {
  background-color: black;
}

header, h1, p {
  font-family: "Open Sans", "sans-serif";
  -webkit-font-smoothing: antialiased; // fix for thick fonts on Chrome
}

h1, header {
  @extend .gold;
}

$font-size: 18px;
p, ul {
  color: black;
  font-size: $font-size;
}

$paragraph-margin: 10px;
p {
  margin: $paragraph-margin $paragraph-margin $paragraph-margin $paragraph-margin;
}

ul {
  margin-left: $paragraph-margin;
}

h1 {
  font-weight: bold;
}

header {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 40px;
  font-weight: 200;
}

button:focus, button:hover {
  outline: none !important; // remove blue outline
  text-decoration: none;
}

img, button {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
}

#content {
  margin-top: 0;
  position: relative;
}

.section {
  max-width: 1000px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  text-align: center;
  margin-bottom: 20px;
}

.section-content {
  background-color: white;
  border-radius: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.fill-in-white:hover, .fill-in-white:active, .fill-in-white:focus {
  color: black;
  background-color: white !important;

  $touchscreen-max-width: 1100px; // threshold for disabling highlights on touchscreens
  @media screen and (max-width: $touchscreen-max-width) {
    // don't show highlights on touchscreens
    color: white;
    background-color: transparent !important;
  }
}

.fill-in-black:hover, .fill-in-black:active, .fill-in-black:focus {
  color: white;
  background-color: black !important;

  $touchscreen-max-width: 1100px; // threshold for disabling highlights on touchscreens
  @media screen and (max-width: $touchscreen-max-width) {
    // don't show highlights on touchscreens
    color: black;
    background-color: transparent !important;
  }
}

.wow {
  visibility: hidden;
}

.button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
}

.button-white {
  @extend .button;
  color: white;
  border: 2px solid white !important;
}

.button-black {
  @extend .button;
  color: black;
  border: 2px solid black !important;
}

$bootstrap-column-collapse-width: 992px;
.stack-item {
  @media screen and (max-width: $bootstrap-column-collapse-width) {
    // set spacing for when Bootstrap collapses the buttons into a stack
    margin-bottom: 20px;
  }
}

.intro-section {
  text-align: center;
}

.subsection {
  margin-top: 20px;
}

.subsection-header {
  @extend .center-and-pad;
  text-align: center;
  font-weight: bold;
}

.subsection-header p {
  font-weight: normal;
  //max-width: 800px;
}

.center-and-pad {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.subsection-content {
  margin-top: 20px;
}

.highlight-section {
  margin-bottom: 20px;
}

.module-link img:hover {
  opacity: 0.8;
}
