//////////////
// PICTURES //
//////////////

@import "framework";

.picture {
  background-color: transparent;
}

// BIG PICTURES //
$big-picture-size: 300px;
$smaller-big-picture-size: $big-picture-size * 0.75;
$big-picture-collapse-size: $big-picture-size + 20;

.big-picture {
  @extend .picture;
  width: $big-picture-size;
  height: $big-picture-size;

  @media screen and (max-width: $big-picture-collapse-size) {
    width: $smaller-big-picture-size;
    height: $smaller-big-picture-size;
  }
}

.big-picture-circle {
  @extend .big-picture;
  border-radius: $big-picture-size;

  @media screen and (max-width: $big-picture-collapse-size) {
    border-radius: $smaller-big-picture-size;
  }
}

.big-picture-rounded {
  @extend .big-picture;
  border-radius: $big-picture-size / 5;

  @media screen and (max-width: $big-picture-collapse-size) {
    border-radius: $smaller-big-picture-size / 5;
  }
}

// HEADER PICTURE //
.header-picture {
  margin-top: -($big-picture-size / 2);

  @media screen and (max-width: $big-picture-collapse-size) {
    margin-top: -($smaller-big-picture-size / 2);
  }
}

.intersecting-picture-offset {
  margin-top: ($big-picture-size / 2) + 10;

  @media screen and (max-width: $big-picture-collapse-size) {
    margin-top: ($smaller-big-picture-size / 2) + 10;
  }
}

// SMALL PICTURES //
$small-picture-size: 100px;

.small-picture {
  @extend .picture;
  width: $small-picture-size;
  height: $small-picture-size;
}

.small-picture-circle {
  @extend .small-picture;
  border-radius: $small-picture-size;
}

.small-picture-rounded {
  @extend .small-picture;
  border-radius: $small-picture-size / 5;
}

// LOGO PICTURES //
$logo-picture-size: 100px;
$small-logo-picture-size: $logo-picture-size - 25px;

.logo-picture {
  @extend .picture;
  width: $logo-picture-size;
  height: $logo-picture-size;

  @media screen and (max-width: $bootstrap-column-collapse-width) {
    width: $small-logo-picture-size;
    height: $small-logo-picture-size;
  }
}

.logo-picture-rounded {
  @extend .logo-picture;
  border-radius: $logo-picture-size / 5;

  @media screen and (max-width: $bootstrap-column-collapse-width) {
    border-radius: $small-logo-picture-size / 5;
  }
}

.logo-picture-long {
  height: 80px;
  @media screen and (max-width: $bootstrap-column-collapse-width) {
    height: 70px;
  }
  @media screen and (max-width: 350px) {
    height: 50px !important;
  }
}

// OTHER PICTURES //
.sports-picture {
  @extend .picture;
  width: $big-picture-size;
  height: auto;
  border-radius: 15px;
  @media screen and (max-width: $big-picture-collapse-size) {
    width: $smaller-big-picture-size;
  }
}

.full-picture {
  @extend .big-picture-rounded;
  object-fit: cover;
}

.cornell-racing-picture {
  height: 65px;
  margin-top: 20px;
  @media screen and (max-width: 350px) {
    height: 50px !important;
  }
}

.sense-picture {
  height: 200px;
  @media screen and (max-width: $bootstrap-column-collapse-width) {
    height: 125px;
  }
  @media screen and (max-width: 350px) {
    height: 100px !important;
  }
}