////////////////////////
// MEDIA SCREEN SIZES //
////////////////////////
$iphone-max-width: 800px;
$bootstrap-column-collapse-max-width: 1000px;

$gold-color: #FFDF00;

body {
  background-color: black;
}

h1, p {
  font-family: "Open Sans", "Helvetica Neue";
}

p {
  color: black;
  margin: 10px 10px 10px 10px;
}

h1 {
  color: $gold-color;
  font-weight: bold;
}

button:focus{
  outline: none !important; // remove blue outline
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
}

#first-section {
  margin-top: 0;
}

.section {
  margin-top: 100px;
}

.section-header {
  text-align: center;
}

.section-content {
  background-color: white;
  border-radius: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}


//////////
// HERO //
//////////
#hero {
  height: 100vh;
  width: 100%; // keeps the page from being wider than the screen
  background-color: black;
}

#particles-js {
  left: 0; // removes the odd left margin that was being created
  height: 100vh;
  width: 100vw;
  position: fixed;
}

// LOGO //
$logo-size: 200px;
$logo-size-small: $logo-size / 2;
$logo-container-size: $logo-size + 20;
$logo-container-size-small: $logo-size-small + 20;

#logo-background {
  position: absolute;
  background-color: white;
  border-radius: $logo-container-size / 5;
  left: 50%;
  top: 50%;
  margin-left: -($logo-container-size / 2);
  margin-top: -($logo-container-size / 2);

  width: $logo-container-size;
  height: $logo-container-size;
  @media screen and (max-width: $iphone-max-width) {
    border-radius: $logo-container-size-small /5;
    margin-left: -($logo-container-size-small / 2);
    margin-top: -($logo-container-size-small / 2);
    width: $logo-container-size-small;
    height: $logo-container-size-small;
  }
}

#logo {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -($logo-size / 2);
  margin-top: -($logo-size / 2);
  width: $logo-size;
  height: $logo-size;
  @media screen and (max-width: $iphone-max-width) {
    margin-left: -($logo-size-small / 2);
    margin-top: -($logo-size-small / 2);
    width: $logo-size-small;
    height: $logo-size-small;
  }
}


///////////
// ABOUT //
///////////


///////////
// LINKS //
///////////
#link-content {
  text-align: center;
}

.link-button {
  border: 2px solid white !important;
  border-radius: 10px;
  background-color: transparent;
  @media screen and (max-width: $bootstrap-column-collapse-max-width){
    margin-top: 20px;
  }
}
.link-button:hover {
  background-color: white;
  @media screen and (max-width: $bootstrap-column-collapse-max-width){
    margin-top: 20px;
    background-color: transparent !important;
  }
}

.link-button-logo {
  width: 100px;
}

////////////
// FOOTER //
////////////
.footer {
  height: 50px;
  //width: 100%;
  margin-top: 100px;
  background-color: white;
}