body {
  background-color: black; }

header, h1, p {
  font-family: "Open Sans", "sans-serif";
  -webkit-font-smoothing: antialiased; }

h1, header {
  color: #FFDF00; }

p {
  color: black;
  margin: 10px 10px 10px 10px; }

h1 {
  font-weight: bold; }

header {
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 40px;
  font-weight: 200; }

button:focus {
  outline: none !important; }

img, button {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none; }

#hero {
  height: 100vh;
  width: 100%;
  background-color: black; }

#particles-js {
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed; }

#header-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 20%;
  left: 0; }

#logo-background {
  position: absolute;
  background-color: white;
  border-radius: 44px;
  left: 50%;
  top: 50%;
  margin-left: -110px;
  margin-top: -110px;
  width: 220px;
  height: 220px; }
  @media screen and (max-width: 800px) {
    #logo-background {
      border-radius: 24px;
      margin-left: -60px;
      margin-top: -60px;
      width: 120px;
      height: 120px; } }

#logo {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  width: 200px;
  height: 200px; }
  @media screen and (max-width: 800px) {
    #logo {
      margin-left: -50px;
      margin-top: -50px;
      width: 100px;
      height: 100px; } }

#down-indicator {
  position: absolute;
  border: 1px solid white;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 70%;
  margin-left: -35px;
  text-align: left; }

#down-icon {
  position: relative;
  width: 60px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px; }

#pictures {
  text-align: center;
  margin-top: 10px; }

.picture {
  border-radius: 300px;
  width: 300px;
  height: 300px;
  background-color: white;
  margin-bottom: 20px; }
  @media screen and (max-width: 320px) {
    .picture {
      width: 150px;
      height: 150px; } }

#link-content {
  text-align: center; }

.button-logo {
  width: 100px; }

#contact-content {
  text-align: center; }

#email-button {
  border-radius: 8px; }

.footer {
  height: 50px;
  margin-top: 100px;
  background-color: transparent; }

#content {
  margin-top: 0;
  position: relative; }

.section {
  margin-top: 80px; }

.section-header {
  text-align: center;
  margin-bottom: 10px; }

.section-content {
  background-color: white;
  border-radius: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto; }

.fill-in:hover, .fill-in:active, .fill-in:focus {
  color: black;
  background-color: white !important; }
  @media screen and (max-width: 1100px) {
    .fill-in:hover, .fill-in:active, .fill-in:focus {
      color: white;
      background-color: transparent !important; } }

.wow {
  visibility: hidden; }

.button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 2px solid white !important;
  border-radius: 10px;
  background-color: transparent; }

@media screen and (max-width: 1000px) {
  .stack-item {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
