a{
    color: inherit;
}

.google{
    display:none;
}
/*****************************BACKGROUND*******************************/
#background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1400px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
}

/*CENTER LOGO*/
#logo{
    width: 200px;
    height: auto;
    position: fixed;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;
    overflow: visible;
}

#top{
    position: fixed;
    margin-left: 430px;
    margin-top: 150px;
    font-family: footerfont;
    font-size: 2em;
    color: #fff;
    opacity: 0;
    
}

/*****************************NAVIGATION BAR*******************************/
#navigationbar{
    height: 100px;
    width: 1000px;
    position: fixed;
    display: block;
    z-index: 2;
    top: 80px;
    left: 50%;
    margin-left: -500px;
    background-color: #000;
    opacity: 1;
}

/*CONTAINER FOR LEFT SIDE OF NAVIGATION BAR*/
#menuleft{
    height: inherit;
    width: 370px;
    float: left;
    margin-left: 18px;
}
/*CONTAINER FOR RIGHT SIDE OF NAVIGATION BAR*/
#menuright{
    height: inherit;
    width: 370px;
    float: right;
    margin-right: 18px;
}
/*BASIC STYLE FOR ANY MENU ITEM*/
.menuitem{
    font-family: menufont;
    font-size: 1.5em;
    display: inline-block;
}

#about{
    margin-top:32px;
    margin-left: 30px;
    color: rgb(255, 118, 0);
    transition: color 0.25s linear;
}
#about:hover{
    color: #fff;
}

#projects{
    margin-left: 30px;
    color: rgb(255, 80, 104);
    transition: color 0.25s linear;
}
#projects:hover{
    color: #fff;
}

#media{
    margin-top:32px;
    margin-left: 30px;
    color: rgb(191, 142, 255);	
    transition: color 0.25s linear;
}
#media:hover{
    color: #fff;
}

#contact{
    margin-left: 30px;
    color: rgb(255, 235, 0);
    transition: color 0.25s linear;
}
#contact:hover{
    color: #fff;
}

/*DIVIDING LINE SEPARATING MENU ITEMS*/
.divider{
    display: inline-block;
    font-family: menufont;
    font-size: 1.5em;
    margin-left:25px;
    color: #fff;
}

/*****************************GREETING*******************************/
#hello{
    position: relative;
    z-index: 1;
    width: 97%;
    left: 50%;
    margin-left:-48.5%;
    margin-top: 250px;
    font-family: footerfont;
    text-align: center;
}
/*CREATES LEFT AND RIGHT BORDERS JUST ON TEXT AND NOT WHITESPACE*/
.wrapper{
    border-left: 2px dashed rgb(240,201,129);
    border-right: 2px dashed rgb(240,201,129);
}

#greeting{
    color:rgb(240,201,129);
    font-size: 6em;
    font-style: italic;
    opacity: 0;
}

#name{
    margin-top: 1.9%;
    font-size: 2.7em;
    opacity: 0;
    color: #fff;
}

#subtitle{
    height: 165px;
    font-family: footerfont;
    font-size: 3.5em;
    color: #fff;
    margin-top: 2.1%;
    opacity: 0;
    overflow: visible;
}
/*CREATES DISTANCE BETWEEN END OF SUBTITLE AND CONTENT SO CONTENT DOESN'T MOVE WHEN SUBTITLE CHANGES SIZE/LINE AMOUNT*/
.whitespace{
    height: 275px;
}

/*****************************CONTENT*******************************/
.content{
    position: relative;
    z-index: 1;
    width: 90%;
    height: 100%;
    left: 50%;
    margin-left: -45%;
    margin-top: 30%;
}

#instructions{
    margin-top:-220px;
    position: absolute;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    text-align: center;
    font-family: footerfont;
    color: #fff;
    font-size: 2em;
}

.infobox{
    margin-bottom: 30%;
    background: rgba(0, 0, 0, 0.6);
    font-family: footerfont;
    color: #fff;
    text-align: center;
    overflow: auto;
}

.infobox h1{
    margin-top: 0;
    font-family: menufont;
    font-size: 4em;
    background: #000;
}

#aboutheader{
    color: rgb(255, 118, 0);
}

#projectsheader{
    color: rgb(255, 80, 104);
}

#mediaheader{
    color: rgb(191, 142, 255);
}

#contactheader{
    color: rgb(255, 235, 0);
}
/*****************************SECTIONAL CONTENT*******************************/
.text{
    color: #fff;
    font-size: 3em;
}

.textSubtitle{
    color: #fff;
    font-size: 2em;
}

/*****************ABOUT*****************/
/*CONTAINER*/
#aboutme{
    position: relative;
    width: 90%;
    font-family:footerfont;
    text-align: left;
    font-size: 1.6em;
    left: 50%;
    margin-left: -45%;
}

/*PICTURES*/
#me{
    width: 18%;
    margin-left: 30px;
    float: left;
}

#sailing{
    width: 30%;
    margin-left: 30px;
    float: right;
}

#glass{
    color: rgb(114, 244, 180); 
    text-decoration: underline;
    font-style: italic;
    transition: color 0.25s linear;   
}
#glass:hover{
    color: #fff;
}

/*****************MEDIA*****************/
.mediacontent{
    position: relative;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    text-align: center;
    color: rgb(191, 142, 255);
}

.mediaheader{
    font-size: 4em;
    text-decoration: underline;
}

#socialheader{
    padding-top: 40px;
}
/*LINKS TO SOCIAL MEDIA*/
#instagram{
    color: rgb(139, 194, 255); 
    text-decoration: underline;
    font-style: italic;
    transition: color 0.25s linear;   
}
#instagram:hover{
    color: #fff;
}

.github{
    color: rgb(240,201,129);
    text-decoration: underline;
    font-style: italic;
    transition: color 0.25s linear;
}
.github:hover{
    color: #fff;
}

/*****************CONTACT*****************/
.contactcontent{
    position: relative;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    font-size: 3em;
    text-align: center;
}

#emailpicture{
    width: 200px;
    background:#ffff9e; 
}
/*LINKS TO EMAIL*/
.emaillink{
    color: #ffff9e;
    text-decoration: underline;
    font-style: italic;
    word-break: break-all;
    transition: color 0.25s linear;
}
.emaillink:hover{
    color: #fff;
}

#whitespace{
    height: 350px;
}

/*****************************COPYRIGHT FOOTER*******************************/
.footer{
    position: absolute;
    left: 50%;
    margin-left: -150px;
    height: 50px;
    width: 300px;
    background: #000;
    border: 8px outset rgb(240,201,129);
    text-align: center;
    line-height: 50px;
    font-family: footerfont;
    font-size: 1.5em;
    color: #fff;
}

/*****************************FONTS*******************************/
@font-face {
    font-family: 'menufont';
    src: url('Fonts/danube__-webfont.eot');
    src: url('Fonts/danube__-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/danube__-webfont.woff') format('woff'),
         url('Fonts/danube__-webfont.ttf') format('truetype'),
         url('Fonts/danube__-webfont.svg#danuberegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'footerfont';
    src: url('Fonts/sand-light.eot');
    src: url('Fonts/sand-light.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sand-light.woff') format('woff'),
         url('Fonts/sand-light.ttf') format('truetype'),
         url('Fonts/sand-light.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*****************************RESPONSIVENESS #MUCHLOL #CHEESING*******************************/
/*MOBILE*/
@media only screen 
and (max-device-width : 800px){
    #navigationbar{
        display: none;
    }
    
    #hello{
        top:0;
        margin-top: 0;
    }
    
    .wrapper{
        border-left: none;
        border-right: none;
    }
    
    #greeting{
        font-size: 8em;
    }

    #name{
        font-size: 3.7em;
    }

    #subtitle{
        font-size: 5.5em;
    }

    .whitespace{
        height: 375px;
    }
    
    #instructions{
        display: none;
    }
    
    .content{
        width: 100%;
        left: 50%;
        margin-left: -50%;
        margin-top: 0;
    
    }
    
    .infobox h1{
    font-size: 5em;
    }
    
    #aboutme{
        font-size: 2.5em;;
    }
    
    #glass{
        transition: none;   
    }
    #glass:hover{
        color: rgb(114, 244, 180);
    }
    
    #instagram{
        transition: none;
    }
    #instagram:hover{
        color: rgb(139, 194, 255);
    }
    
    .github{
        transition: none;
    }
    .github:hover{
    .github:hover{
        color: rgb(240,201,129);
    }
    
    .emaillink{
        transition: none;
    }
    .emaillink:hover{
        color: #ffff9e;
    }
    
    .footer{
    margin-left: -300px;
    height: 100px;
    width: 600px;
    border: 10px outset rgb(240,201,129);
    line-height: 100px;
    font-size: 3em;
    }
    
}

/*TALL SCREENS*/
@media only screen
and (min-height : 1080px) {
    #instructions{
        margin-top:-110px;
    }
}

/*SMALL SCREENS*/
@media only screen 
and (max-width : 975px) {
    #navigationbar{
        display: none;
    }
    
    #hello{
        top:0;
        margin-top: 0;
    }
    
    .whitespace{
    height: 200px;
    }
    
    #instructions{
        display: none;
    }
    
    .content{
        margin-top: 0;
    }
}

/*SMALLER SCREENS*/
@media only screen 
and (max-width : 750px){
    .wrapper{
    border-left: none;
    border-right: none;
    }
}